{% if variant != '' and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('jumbotron-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

<div{{ attributes.addClass('jumbotron') }}>
  {% if 'fluid' in variant %}
  <div class="container">
  {% endif %}
  {{ content }}
  {% if 'fluid' in variant %}
  </div>
  {% endif %}
</div>
