{% if variant != '' and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('btn-group-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

{% if variant != '' and variant|lower != 'vertical' %}
  {% set attributes = attributes.addClass('btn-group') %}
{% endif %}

<div{{ attributes.setAttribute('role', 'group').setAttribute('aria-label', label) }}>
  {% for button in buttons %}
    {{ button }}
  {% endfor %}
</div>
