{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('btn-group-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

{% if variant and variant|lower != 'vertical' %}
  {% set attributes = attributes.addClass('btn-group') %}
{% endif %}

{% if label %}
  {% set attributes = attributes.setAttribute('aria-label', label) %}
{% endif %}

<div{{ attributes.setAttribute('role', 'group') }}>
  {{ buttons }}
</div>
