{% set attributes = attributes.addClass('badge') %}

{% if url or attributes.href %}
  {% set url = url ?: attributes.href %}
  <a {{ attributes.setAttribute('href', url) }}>{{ label }}</a>
{% else %}
  <span {{ attributes }}>{{ label }}</span>
{% endif %}
