{% if variant and variant|lower != 'default' %}
  {% set variants = variant|split('__')|map(v => v|lower|replace({(v): 'badge-' ~ v})|replace({'_': '-'})) %}
  {% set attributes = attributes.addClass(variants) %}
{% endif %}

{% if url or attributes.href %}
  {% set url = url|default(attributes.href) %}
  <a {{ attributes.addClass('badge').setAttribute('href', url) }}>{{ label }}</a>
{% else %}
  <span {{ attributes.addClass('badge') }}>{{ label }}</span>
{% endif %}
