{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('list-group-item-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

{% set attributes = attributes.addClass('list-group-item') %}
{% set attributes = disabled ? attributes.addClass('disabled').setAttribute('aria-disabled', 'true') : attributes %}
{% set attributes = active ? attributes.addClass('active').setAttribute('aria-current', 'true') : attributes %}

{% if url or attributes.href %}
  {% set url = url|default(attributes.href) %}
  <a{{ attributes.addClass('list-group-item-action').setAttribute('href', url) }}>{{ content }}</a>
{% else %}
  <span{{ attributes }}>{{ content }}</span>
{% endif %}
