/* @see core/themes/starterkit_theme/css/components/user.css */

.password-strength__meter {
  background-color: var(--bs-light);
}
.password-strength__indicator {
  background-color: var(--bs-success);
}
.password-strength__indicator.is-weak {
  background-color: var(--bs-danger);
}
.password-strength__indicator.is-fair {
  background-color: var(--bs-warning);
}
.password-strength__indicator.is-good {
  background-color: var(--bs-info);
}
.password-strength__indicator.is-strong {
  background-color: var(--bs-success);
}

.password-confirm-message .ok {
  color: var(--bs-success);
}
.password-confirm-message .error {
  color: var(--bs-danger);
}
