{% if variant != '' and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('btn-' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

{% set attributes = attributes.addClass('btn') %}

{% if url or attributes.href %}
  {% set url = url ?: attributes.href %}
  {% set attributes = attributes.setAttribute('href', url) %}
  {% if disabled %}
    {% set attributes = attributes.setAttribute('href', false).setAttribute('tabindex', '-1').setAttribute('aria-disabled', 'true').addClass('disabled') %}
  {% endif %}

  <a{{ attributes.setAttribute('role', 'button') }}>{{ label }}</a>
{% else %}
  {% if disabled %}
    {% set attributes = attributes.setAttribute('disabled', '') %}
  {% endif %}

  <span{{ attributes }}>{{ label }}</span>
{% endif %}
