<div{{ attributes.addClass('card') }}>
  <div class="row g-0">
    <div class="col-md-4">
      {{ image }}
    </div>
    <div class="col-md-8">
      {{ include('@ui_suite_bootstrap/patterns/card/_card-content.html.twig') }}
    </div>
  </div>
</div>
