<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
    {{ image }}
    </div>
    <div class="col-md-8">
    {{ include('@ui_patterns_bootstrap/patterns/card/_card-content.html.twig') }}
    </div>
  </div>
</div>
