<div{{ attributes.addClass('card') }}>
  {% if image and image_position != 'bottom' %}
    {{ image }}
  {% endif %}
  {{ include('@ui_bootstrap/patterns/card/_card-content.html.twig') }}
  {% if image and image_position == 'bottom' %}
    {{ image }}
  {% endif %}
</div>
