{% set image_attributes = create_attribute().setAttribute('src', image_url) %}

<div{{ attributes.addClass('media') }}>
  {% if image_url and image_position != 'after' %}
    {% set image_attributes = image_margin ? image_attributes.addClass('mr-' ~ image_margin) : image_attributes %}
    <img{{image_attributes}}/>
  {% endif %}
  {% if body %}
  <div class="media-body">
  {{ body }}
  </div>
  {% endif %}
  {% if image_url and image_position == 'after' %}
    {% set image_attributes = image_margin ? image_attributes.addClass('ml-' ~ image_margin) : image_attributes %}
    <img{{image_attributes}}/>
  {% endif %}
</div>
