{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('accordion-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}
{% set attributes = attributes.addClass('accordion') %}
{% set attributes = accordion_id ? attributes.setAttribute('id', accordion_id) : attributes %}

<div{{ attributes }}>
  {{ content }}
</div>
