{#
/**
 * For preview, to avoid warnings due to preview value transformed as markup
 * object.
 */
#}
<div class="card">
  {{ include('@ui_suite_bootstrap/patterns/card_body/pattern-card-body.html.twig') }}
</div>
