{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('alert-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

{% if dismissible %}
  {% set attributes = attributes.addClass(['alert-dismissible', 'fade', 'show']) %}
{% endif %}

<div{{ attributes.addClass('alert').setAttribute('role', alert) }}>
  {% if heading %}
  <h4 class="alert-heading">{{ heading }}</h4>
  {% endif %}
  {{ message }}
  {% if dismissible %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'Close'|t }}"></button>
  {% endif %}
</div>
